<body class="favoritebars">
  <%= form_tag( user_bar_path, method: "get") do |f| %>
    <%= label_tag("Favorite Bars:") %>
    <%= select_tag(:favorite_bars, options_for_select(@favorite_bars)) %>
    <%= submit_tag "Show", :name => nil%>
  <% end %>

  <% if @favorite_bar %>
    <div class = "favorite-bar-show">
      <ul> 
        <li><%= @favorite_bar.name %></li>
        <li><%= @favorite_bar.address %></li>
        <li><img src = <%= @favorite_bar.photo_url %>></li>
        <li><img src = <%= @favorite_bar.review %>></li>
      </ul>
    </div>
  <% end %>

  
</body>

