<div class = "joinform" >

  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br/>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br/>

    <%= f.label :password_confirmation, 'Password Confirmation' %>
    <%= f.password_field :password_confirmation %>
    <br/>

    <%= f.label :firstname, 'First Name' %>
    <%= f.text_field :firstname %>
    <br/>

    <%= f.label "Date of Birth", 'Date of Birth' %>
    <%= f.date_field :dob %>
    <br/>

    <%= f.submit @user.id.nil? ? "Join!" : "Save Changes" %>
  <% end %>

</div>