<body class = "usersshow">
  <div class="logo">
    <img src="<%=image_path( 'logo.png' )%>">
  </div>
  <div class="container">
    <h2>Hello, <%=@user.firstname%>!</h2>
    
    <p><%= link_to "Edit User Info", edit_user_path(@user) %></p> 

    <div class="addlocations">
      <h3><%= image_tag("finder.png")%> <%= link_to "Find Happy Hours Near Me", user_bars_path(@user) %></h3>
      <h3><%= link_to image_tag("plus.png") + "     " + "Add New Favorite Location", new_user_location_path(@user) %> </h3>
    </div>

    <div class = "editlocations">
      <ul>
        <h1>Favorite Locations:</h1>
        <% @location.each do |location| %>
          <li><img src= "<%= asset_path( 'star.png') %>"> <strong><%= link_to "#{location.name}", "/users/#{params[:id]}/locations/#{location.id}" %></strong><br>

          <%= button_to "edit", "/users/#{params[:id]}/locations/#{location.id}/edit", method: :get %>

          <%= form_tag user_location_path(@user, location), method: "delete" do %>
            <%= submit_tag("delete") %>
          <% end %></li>
        <% end %>
      </ul>

      <ul id="favorite-bars">
        <h1>Favorite Bars:</h1>
        <% @user.bars.each do |bar| %>
        <li><%= link_to "#{bar.name}", user_bar_path(@user, bar.id)  %></li>
        <% end %>
      </ul>

    </div>

    




  </div>
</body>






