<body class = "locationform" style= "background: url('https://farm8.staticflickr.com/7448/12624091685_19c3195222_o.png'); background-size: cover; background-repeat: no-repeat;">

<%= form_for [@user, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %><br>

  <%= f.submit %>
<% end %>

</body>