<body class = "locationform" style= "background: url('http://www.flickr.com/photos/118070682@N04/12624091685/'); background-size: cover; background-repeat: no-repeat;">

<%= form_for [@user, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %><br>

  <%= f.submit %>
<% end %>

</body>