<body class = "locationform" style= "background: url('https://dl-web.dropbox.com/get/brickwall.png?_subject_uid=269118418&w=AADQsf_haOhD3TStu8a4aPM-diW4E-fn4h5uODy2hmQC3g'); background-size: cover; background-repeat: no-repeat;">

<%= form_for [@user, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %><br>

  <%= f.submit %>
<% end %>

</body>