<body class = "locationform" style= "background: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/609447/xqs7XfX7tB87Moz/brickwall.png'); background-size: cover; background-repeat: no-repeat;">

<%= form_for [@user, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %><br>

  <%= f.submit %>
<% end %>

</body>