<!DOCTYPE html>
<html>
<head>
  <title>GetHappyApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <img src="<%=asset_path( 'logo.gif' )%>">
  <%= link_to "Home", root_path %>
<p>
  <%= link_to("Please Log In","/login") if session[:user_id].nil? %>
</p>

</header>
<%= yield %>

</body>
</html>
